﻿<link rel="stylesheet" href="../../../css/global.css">

<div id="main" class="div">
    <div class="computer-details mx-auto mt-5">
        <div id="computer_company_detail" class="dashlet_header"></div>  <!--Popupid-->
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="uniqueId">Serial number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="uniqueId">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="brand">Brand</label>
                <div class="col-sm-10">
                    <select id="brand" class="custom-select" aria-label="Brand"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="cpu">Cpu</label>
                <div class="col-sm-10">
                    <select id="cpu" class="custom-select" aria-label="Cpu"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="isEnabled">Is enabled</label>
                <div class="col-sm-10">
                    <select id="isEnabled" class="custom-select" aria-label="Is enabled"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="startPeriod">Start period</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="startPeriod">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="startYear">Start year</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="startYear">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="endPeriod">End period</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="endPeriod">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="endYear">End year</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="endYear">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <button id="btnSubmitComputer" type="button" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="../../../lib/jquery-3.3.1.min.js" asp-append-version="true"></script>
<script src="../../../lib/bootstrap.min.js"></script>
<script type="text/javascript" src="init.js" asp-append-version="true"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
