<script type="text/javascript" src="../../../lib/jquery-3.3.1.min.js" asp-append-version="true"></script>
<script src="../../../lib/bootstrap.min.js"></script>
<script type="text/javascript" src="init.js" asp-append-version="true"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="../../../css/global.css">

<div id="main" class="div">
    <div id="computer_employee_overview" class="dashlet_header"></div>  <!--Popupid-->
    <div class="row justify-content-center">
        <div class="col-auto">
            <table id="tblComputers" class="table table-responsive table-striped table-bordered table-computers mt-5" />
        </div>
    </div>
</div>